body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f0f0f0;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 400;
}

.material-icons {
    color: #4d2d52;
}

#stage-parent {
    width: 100%;
}

#controls {
    position: absolute;
    top: 0;
    left: 50%;
    padding: 5px;
    transform: translateX(-50%);
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#controls button {
    padding: 5px;
    margin-left: 3px;
    margin-right: 3px;
    border: 1px solid whitesmoke;
    border-radius: 3px;
    background-color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#controls button:hover {
    font-weight: bold;
    background-color: silver;
    border: 1px solid gray;
}

#controls input {
    padding: 5px;
    margin-left: 3px;
    margin-right: 3px;
    border: 1px solid whitesmoke;
    border-radius: 3px;
    background-color: white;
    width: 30px;
}

#controls .control-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#controls .control-group {
    border-left: 5px solid #4d2d52;
    border-right: 5px solid #4d2d52;
    padding-left: 5px;
    border-radius: 5px;
    background-color: #4d2d52;
    color: white;
    padding: 5px;
    display: flex;
    align-items: stretch;
}

#controls form {
    display: flex;
    align-items: stretch;
}

#controls .control-group>span {
    margin-right: 5px;
    display: inline-flex;
    align-items: center;
}

#controls>div:first-of-type {
    margin-left: 0;
}

#controls>div {
    margin-left: 20px;
}
